body{
  margin: 0;
  background-image: url('../media/img/2-many-starts-on-blue-dark-night-sky-as-a-cosmos-background-oleg-mayorov.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}
.container-fluid{
  margin-bottom: 100%;
}

.name-icon{
  margin-left: 48%;
  margin-right: 44%;
}

.caja{
  width: 65%;
}

.footer{
  height: 100%;
}

.footer #contenido{
  margin-bottom: auto;
}

#img{
  height: 95%;
}

#close{
  position: absolute;
  right: 15px;
}