@media screen and (max-width: 960px){
    .name-icon{
        margin-left: 46%;
        margin-right: 38%;
      }
}

@media only screen and (max-width: 540px) {
    .name-icon{
        margin-left: 36%;
        margin-right: 36%;
      }
  }

@media only screen and (max-width: 411px) {
    .name-icon{
        margin-left: 30%;
        margin-right: 30%;
      }
  }

@media only screen and (max-width: 360px) {
    .name-icon{
        margin-left: 29%;
        margin-right: 29%;
      }
  }  

  @media only screen and (max-width: 320px) {
    .name-icon{
        margin-left: 26%;
        margin-right: 25%;
      }
  } 
